body {
  background-image: url("background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
/* Sets the background color of each webpage to light blue. */

.header {
  background-image: url("back2.jpg");
  text-align: center;
  border: none;
}
/* Aligns header to the center, adds dark blue text color, sets family font type as Cambria Math, sans-serif. Also adds a solid border with a teal background. Creates template header for each page in website. */

.navbar {
  background-color: cadetblue;
  overflow: auto;
}
/* Sets the background color of navbar to olivedrab with the overflow set to auto. This is applied to each page on the website. Set to auto on overflow to include a scroll bar when needed. Navbar style referenced & modified from w3schools: https://www.w3schools.com/howto/howto_js_topnav.asp */

.searchbar {
  border: solid;
}


.nav {
  border: 1px black;
  display: inline;
  color: white;
  font-family: "Cambria Math",sans-serif;
  text-align: left;
  padding: 5px 10px;
}
/* Aligns the text to the left, sets the font-family to Cambria math, sans-serif. Sets the text color to white, displayed inline and with added padding of 10px and 41 px. Navbar style influenced/referenced & modified from w3schools: https://www.w3schools.com/howto/howto_js_topnav.asp */

.nav:hover {
  background-color: lightblue;
}
/* Adds a lightgreen color to the hover portion, when hovering over each content on the navbar. Navbar style referenced & modified from w3schools: https://www.w3schools.com/howto/howto_js_topnav.asp */


.textcolor {
  color: #003333;
  font-family: Times New Roman;
}

.headcolor {
  color: #003366;
  font-family: Times New Roman;
  text-decoration: underline;
  
}

.image1 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image2 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image3 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image4 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image5 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image6 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image7 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image8 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image9 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image10 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image11 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image12 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image13 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image14 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image15 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image16 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image17 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image18 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image19 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image20 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image21 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image22 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image23 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image24 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image24 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image25 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image26 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image27 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image28 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image29 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image30 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image31 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image32 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image33 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image34 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image35 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image36 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image37 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image38 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image40 {
  border: 1px solid;
  margin-bottom: 50px;
}


.image41 {
  border: 1px solid;
  margin-bottom: 50px;
}


