body {
  background-image: url("background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
/* Sets the background color of each webpage to light blue. */

.header {
  background-image: url("back2.jpg");
  text-align: center;
  border: none;
}
/* Aligns header to the center, adds dark blue text color, sets family font type as Cambria Math, sans-serif. Also adds a solid border with a teal background. Creates template header for each page in website. */

.navbar {
  background-color: royalblue;
  overflow: auto;
}
/* Sets the background color of navbar to olivedrab with the overflow set to auto. This is applied to each page on the website. Set to auto on overflow to include a scroll bar when needed. Navbar style referenced & modified from w3schools: https://www.w3schools.com/howto/howto_js_topnav.asp */
 

.nav {
  display: inline;
  color: white;
  font-family: "Cambria Math",sans-serif;
  text-align: left;
  padding: 10px 41px;
}
/* Aligns the text to the left, sets the font-family to Cambria math, sans-serif. Sets the text color to white, displayed inline and with added padding of 10px and 41 px. Navbar style influenced/referenced & modified from w3schools: https://www.w3schools.com/howto/howto_js_topnav.asp */

.nav:hover {
  background-color: lightblue;
}
/* Adds a lightgreen color to the hover portion, when hovering over each content on the navbar. Navbar style referenced & modified from w3schools: https://www.w3schools.com/howto/howto_js_topnav.asp */


.intro {
  text-align: left;
  font-family: "Cambria Math",sans-serif;
  color: maroon;
}
/* Aligns the text to the left, setting font family type to Cambria Math, sans-serif and sets text-color to maroon.  */

.image1 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image2 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image3 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image4 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image5 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image6 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image7 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image8 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image9 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image10 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image11 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image12 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image13 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image14 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image15 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image16 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image17 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image18 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image19 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image20 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image21 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image22 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image23 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image24 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image24 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image26 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image27 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image28 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image29 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image30 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image31 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image32 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image33 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image34 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image35 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image36 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image37 {
  border: 1px solid;
  margin-bottom: 50px;
}

.image38 {
  border: 1px solid;
  margin-bottom: 50px;
}




.me {
  margin-top: 75px;
  margin-bottom: 100px;
  margin-right: 550px;
}
/* Moves content right by 550px, 100px to bottom and 75px to the top. Done to align image correctly and appropriately. */

.text1 {
  color: maroon;
}
/* Sets the text color to maroon. */



.fix2 {
  text-align: left;
  font-family: "Cambria Math",sans-serif;
  color: darkblue;
  text-decoration: underline
}
/* Sets the text color as dark blue, adds an underline and aligned to the left. Also sets font family type as Cambria Math, san-serif */


.head5 { 
  font-family: "Cambria Math",sans-serif;
  color: darkblue;
  text-decoration: underline
}
/* Adds font family set as Cambria Math, san serif and changes the header color to darkblue and adds an underline. */



.goodbye { 
  border: solid;
  margin-left: 330px;
  margin-top: 75px
}
/* Adds a solid border, moves content top 75px and moves left by margin of 330 px. Done to align image correctly and appropriately.*/




